<%= form_for @notification, :method => :post do |f| %>

  <div>
    <%= f.label :notification_type %>
    <%= f.select :notification_type, [['Call', 0], ['Text', 1]] %>
  </div>

  <div>
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>

  <div>
    <%= f.label :to_number %>
    <%= f.text_field :to_number %>
  </div>

  <div>
    <%= f.submit "Send!" %>
  </div>
<% end %>

<%= link_to "See All Notifications", notifications_path %>